body{
    margin: 0;
}

.nav-bar-outer-container{
    margin: 0;
    padding: 0;
    top:0;
    background-color: #2A2D34;
    min-width:100%;
    width:100%;
    min-height:100px;
    display: flex;
    flex-direction: row;
}


.nav-bar-logo-container{
    width:40%;
    border:1px solid white;
}

.nav-bar-links-container{
    width:60%;
    border:1px solid white;
}

.nav-bar-links-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}

.navbar-list-item{

}

.nav-bar-list-link{
    text-decoration: none;
    
    color: white;
}