body{
    margin: 0;
}

.nav-bar-outer-container{
    margin: 0;
    padding: 0;
    top:0;
    background-color: #2A2D34;
    min-width:100%;
    width:100%;
    min-height:70px;
    display: flex;
    flex-direction: row;
   
}


.nav-bar-logo-container{
width:40%;
  
}

.nav-bar-logo{
    padding-left:20px;
    width:165px;
    height:70px;
}

.nav-bar-links-container{
    width:60%;
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
 
}




.nav-bar-list-link{
    padding:10px;
    text-decoration: none;
    color: white;
   
}

.nav-bar-list-link:hover{
   
    color: #7AA095;
    transition: 0.25s ease-in-out;
}